extends layout

block content
  .inner
    form.form(action="/account/forgot" method="POST")
      h2 Recover your password
      .card
        label(for="email") Email
        input(type="email" name="email")
        input.button(type="submit" value="Send a Reset")
