extends layout

include mixins/_postCard
include mixins/_pagination

block content
  .inner
    .hero-rank
      a(href="#" class="btn-hero") Explore Top Riders 
        i(class="fal fa-trophy-alt icon")
    h4.subtitle Riders around the world
    .posts
      each post in posts
        +postCard(post)
    +pagination(page, pages, count)
    
