extends layout

include mixins/_postCard
include mixins/_pagination

block content
  .inner
    .hero-rank
      a(href="/top" class="btn-hero") Explore Top Riders 
        != h.icon('trophy')
    h4.subtitle Riders around the world
    .posts
      each post in posts
        +postCard(post)
    +pagination(page, pages, count)
    
