@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.flash {
  background: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
  & + .flash {
    animation-delay: 0.55s;
    & + .flash {
      animation-delay: 0.6s;
    }
  }
  &__text {
    flex: 1;
    font-family: $lato;
  }
  &__remove {
    background: none;
    cursor: pointer;
    border:0;

    &:hover {
      color: $color-teal;
    }
  }
  &:after {
    content: '';
    display: block;
    background: white;
    position: absolute;
    width: calc(100% - .8em);
    height: calc(100% - .8em);
    border-radius: 5px;
    top: 6px;
    left: 6px;
    z-index: -1;
  }
  &--success {
    background: hsl(141, 71%, 48%);
  }
  &--error {
    background: hsl(348, 100%, 61%);
  }
  &--info {
    background: hsl(204, 86%, 53%);
  }
  p {
    margin: 0;
  }
}
