html {
  font-size: 10px;
}

body {
  background: white;
}

.hero-rank {
  margin-top: 1em;
  border-radius: 5px;
  min-height: 200px;
  width: 100%;
  background: url('https://d1a3f4spazzrp4.cloudfront.net/chameleon-assets/v1.0.0/c70b8eba-a194-42c9-b734-00bd27cda456/desk.jpg');
  background-position: 100% 30%;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-hero {
  padding: .8em 4em;
  margin-left: 2em;
  font-family: $lato;
  font-size: 1.2em;
  color: $color-black;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  transition: .3s ease all;
}

.icon {
  margin-left: .3em;
}

.inner {
  max-width:1150px;
  margin: 0 auto;
  @media all and (max-width: 1200px) {
    padding: 0rem 2rem;
  }
}

.wrapper {
  max-width:900px;
  margin: 0 auto;
  margin-top: 4em;
  @media all and (max-width: 1200px) {
    padding: 0 2em;
  }
}

@media screen and (max-width: 570px) {
  .hero-rank {
    justify-content: center;
  }

  .btn-hero {
    // margin: .5em;
    text-align: center;
    margin-left: 0;
    padding: .8em;
  }
}


// ------ icons
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-18 {
    width: 1.125em;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
.svg-inline--fa.fa-w-9 {
    width: .5625em;
}
.svg-inline--fa.fa-w-14 {
    width: .875em;
}
svg:not(:root) {
    overflow: hidden;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
