.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-whitegray;
  border-radius: 5px;
  margin-top: 4em;
  margin-bottom: 4em;
  &__next {
    margin: .8em;

    a {
      padding: 1em 3em;
      border-radius: 5px;
      background: $color-teal;
      color: white;
      font-family: $raleway;
    }

    &--disable {
      margin: .8em;

      a {
        padding: 1em 3em;
        border-radius: 5px;
        background: $color-lightgray;
        color: $color-black;
        cursor: not-allowed;
      }
    }
  }
  &__prev {
    margin: .8em;

    a {
      padding: 1em 3em;
      border-radius: 5px;
      background: $color-teal;
      color: white;
      font-family: $raleway;
    }

    &--disable {
      margin: .8em;

      a {
        padding: 1em 3em;
        border-radius: 5px;
        background: $color-lightgray;
        color: $color-black;
        cursor: not-allowed;
      }
    }
  }
  &__text {
    padding: 1rem;
    text-align: center;

    p {
      font-family: $raleway;
      color: $color-black;
    }
  }
}

.mgl {
  margin-left: 0.3em;
}

.mgr {
  margin-right: 0.3em;
}

@media screen and (max-width: 570px) {
  .pagination {
    flex-direction: column;
    padding: 1em;
  }
}
