.review {
  background: white;
  margin-top: 3em;
  margin-bottom: 3em;
  position: relative;

  &__header {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr;
    align-items: center;
  }
  &__author {
    .avatar {
      margin-right: 2rem;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-family: $lato;
    }
  }
  &__time {
    font-size: 1em;
    color: $color-gray;
    font-family: $lato;
    align-self: center;
    text-align: center;
  }
  &__stars {
    color: $color-teal;
    font-size: 1.4em;
  }
  &__body {
    padding: 1em;
    font-family: $lato;
  }
  p {
    white-space:pre-wrap;
  }
}
